*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
body {
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

:root {
	--accent: #2095f2;
	--accent-dark: #212121;

	--link-color: var(--accent);
	--link-color-hover: #46adff;
	--link-color-active: #008af9;
	--link-color-visited: #0e8cf0;

	--grayed-text: #aaa;

	--nav-gap: 25px;
	--content-gutter: 55px;

	--button-dark-background: #4d4d4d;
}

body {
	font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
	font-size: 18px;
	line-height: 1.7em;
	background: #fff url('/images/noise.png') top left;
	color: #222;
}

main {
	font-family: 'Merriweather', serif;
}

pre,
code {
	font-family: Menlo, Monaco, 'Andale Mono', 'lucida console', 'Courier New', monospace;
}

a {
	color: var(--link-color);
	transition: color 0.2s;
}
a:visited {
	color: var(--link-color-visited);
}
a:focus,
a:hover {
	color: var(--link-color-hover);
}
a:active {
	color: #008af9;
}

h1,
h2,
h3,
h4 {
	font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
	line-height: 1.2;
}

img {
	max-width: 100%;
}
