*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font: inherit;
}
fieldset {
	border: 0;
}
ol,
ul {
	list-style: none;
	padding: 0;
}
img {
	max-width: 100%;
}
hr {
	margin-bottom: 0.3em;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

html {
	--bright-teal: oklch(69.71% 0.195 236.12);

	--accent: var(--bright-teal);
	--accent-dark: #212121;
	--background-color: #fff;

	--link-color: var(--accent);
	--link-color-hover: color-mix(
		in srgb,
		var(--link-color) 80%,
		var(--background-color)
	); /* Approx #46adff */
	--link-color-visited: color-mix(in srgb, var(--link-color) 90%, #00f); /* Approx #0e5bf0 */

	--grayed-text: #aaa;

	--nav-gap: 25px;
	--content-gutter: 55px;

	--font-serif: 'Merriweather', serif;
	--font-sans-serif: 'Lato', 'Helvetica Neue', Arial, sans-serif;
	--font-code: Menlo, Monaco, 'Andale Mono', 'lucida console', 'Courier New', monospace;

	--button-dark-background: color-mix(
		in srgb,
		var(--accent-dark) 80%,
		var(--background-color)
	); /* Approx #4d4d4d */
}

html.dark {
	--accent-dark: #fff;
	--background-color: #2c2c2c;

	--link-color-hover: color-mix(
		in srgb,
		var(--link-color) 80%,
		var(--background-color)
	); /* Approx #46adff */
	--link-color-visited: color-mix(in srgb, var(--link-color) 50%, #fff); /* Approx #0e5bf0 */
}

body {
	font-family: var(--font-sans-serif);
	font-size: 18.4px;
	line-height: 1.7em;
	background: var(--background-color) url('/images/noise.png') top left;
	color: var(--accent-dark);
}
main {
	font-family: var(--font-serif);
}

h1,
h2,
h3,
h4 {
	font-family: var(--font-sans-serif);
	line-height: 1.2;
}

pre,
code {
	font-family: var(--font-code);
}

a {
	color: var(--link-color);
	text-decoration: none;

	&:visited {
		color: var(--link-color-visited);
	}

	&:focus,
	&:hover {
		color: var(--link-color-hover);
	}
}

article {
	& :is(h1, h2, h3, h4, h5, h6) {
		margin-bottom: 0.5em;
	}

	& h2 {
		font-size: 1.5em;
	}

	& h3 {
		font-size: 1.2em;
	}

	& :is(p, article blockquote, ul, ol):not(:last-child) {
		margin-bottom: 1em;
	}

	& :is(ul, ol) {
		list-style: disc;
		margin-left: 0;
		padding-inline-start: 20px;
	}

	& li:not(:last-child) {
		margin-bottom: 0.5em;
	}

	& img {
		border-radius: 0.3em;
		border: #fff 0.5em solid;
		box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
		margin-bottom: 0.5em;
	}
}

html.dark {
	& main a {
		color: var(--accent-dark);
	}

	& main article a {
		color: var(--link-color-visited);

		&:visited {
			color: var(--link-color);
		}

		&:focus,
		&:hover {
			color: var(--link-color-hover);
		}
	}
}

.post_header {
	position: relative;
	display: flex;
	padding-top: 36px;
	margin-bottom: 28px;
}

.post_title {
	font-size: 40px;
	font-weight: bold;
	text-wrap: pretty;
}

.post_date {
	font-family: 'PT Sans', 'Helvetica Neue', Arial, sans-serif;
	position: absolute;
	top: 0;
	color: var(--grayed-text);
}

.category_title {
	font-size: 2em;
	font-weight: bold;
}

figure {
	margin-bottom: 1em;

	& img {
		margin-bottom: 0;
	}
}

code {
	display: inline-block;
	background-color: var(--background-color);
	font-size: 0.8em;
	line-height: 1.5em;
	color: var(--accent-dark);
	border-radius: 0.4em;
	border: 1px solid #ddd;
	padding: 0 0.3em;
}

pre {
	overflow: auto;
	padding: 0.4em 0.7em;
	border: 1px solid #ddd;
	margin-bottom: 0.5em;

	& code {
		padding: 0;
		border: 0;
	}
}

sub {
	line-height: 1.7;
	display: inline-block;
}
