@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html {
    hanging-punctuation: first allow-end last;
    word-break: break-word;
  }
  :target {
    scroll-margin: 3rlh;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font: inherit;
  }
  p,
  li {
    text-wrap: pretty;
  }
  fieldset {
    border: 0;
    padding: 0;
  }
  ol,
  ul {
    list-style: none;
    padding: 0;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  hr {
    margin-block-start: 1.2em;
    margin-block-end: 1.5em;
  }
  summary {
    cursor: pointer;
  }
  sup {
    margin-left: 3px;
  }
  [popover],
  dialog,
  ::backdrop {
    --transition-duration: 0s;
    transition: opacity var(--transition-duration),
      display var(--transition-duration) allow-discrete;
    opacity: 0;
  }
  :popover-open,
  dialog[open],
  [open]::backdrop {
    opacity: 1;
    --transition-duration: 0.2s;
  }
  @starting-style {
    :popover-open,
    dialog[open],
    [open]::backdrop {
      opacity: 0;
    }
  }
}

@layer base {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .text_center {
    text-align: center;
  }

  html {
    /* Follow user preferences by default */
    color-scheme: light dark;

    --accent: oklch(69.71% 0.195 236.12);
    --text-color: light-dark(#212121, #e8e8e8);
    --background-color: light-dark(#fff, #2c2c2c);

    --link-color: light-dark(var(--accent), oklch(0.64 0.18 237));
    --link-color-hover: light-dark(
      color-mix(in srgb, var(--accent) 80%, var(--background-color)),
      oklch(0.84 0.11 228.79)
    );
    --link-color-visited: light-dark(
      color-mix(in srgb, var(--accent) 90%, #00f),
      color-mix(in srgb, oklch(0.64 0.18 237) 50%, #fff)
    );

    --grayed-text: #aaa;
    --gray-accent: #ededed;

    --nav-gap: 25px;
    --content-gutter: 55px;
    --footer-height: 85px;

    --font-serif: 'Lora', serif;
    --font-sans-serif: 'Lato', 'Helvetica Neue', Arial, sans-serif;
    --font-code: Menlo, Monaco, 'Andale Mono', 'lucida console', 'Courier New', monospace;

    font-size: 19px;

    --button-background: light-dark(
      color-mix(in srgb, var(--text-color) 80%, var(--background-color)),
      var(--link-color)
    );
    --button-background-hover: light-dark(
      var(--link-color-hover),
      color-mix(in srgb, var(--link-color) 80%, #000)
    );
    --button-color: light-dark(var(--background-color), var(--text-color));

    --border-dashed-color: light-dark(rgb(121 121 121), rgb(176 176 176));
    --border-dashed: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 35%,
        var(--border-dashed-color) 50%,
        rgba(0, 0, 0, 0) 65%,
        rgba(0, 0, 0, 0) 100%
      )
      bottom / 5px 1px repeat-x;
    --border-sidebar: 1px solid var(--gray-accent);

    @media (max-width: 749px) {
      --content-gutter: 25px;
    }
  }

  /* If user picks a light theme via toggle */
  html[data-theme='light'] {
    color-scheme: light;
  }

  /* If user picks a dark theme via toggle */
  html[data-theme='dark'] {
    color-scheme: dark;
  }

  body {
    font-family: var(--font-sans-serif);
    line-height: 1.6;
    background: var(--background-color) url('/images/noise.png') top left;
    color: var(--text-color);
    overscroll-behavior: none;
  }

  ::selection {
    background-color: var(--accent);
    color: var(--background-color);
  }

  a::selection {
    color: var(--text-color);
  }

  main {
    font-family: var(--font-serif);
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-sans-serif);
    line-height: 1.2;
  }

  pre {
    white-space: pre-wrap;
  }
  pre,
  code,
  kbd {
    font-family: ui-monospace, SFMono-Regular, monospace;
  }

  a {
    color: var(--link-color);
    text-decoration: none;

    &:visited {
      color: var(--link-color-visited);
    }

    &:is(:hover, :focus) {
      color: var(--link-color-hover);
      text-decoration: underline;
    }
  }

  main a {
    color: light-dark(var(--link-color), var(--text-color));
  }

  main article a {
    color: var(--link-color);

    &:is(:hover, :focus, :visited) {
      color: var(--link-color-hover);
    }
  }

  a :where(h1, h2) {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
  }

  a[href^='https']:not([href^='https://zachsaucier.com'])
  {
    display: inline-flex;
    align-items: center;
    gap: 2px;

    &::after {
      content: '';
      width: 1em;
      height: 1em;
      background-color: currentColor;
      /* SVG from https://www.svgrepo.com/svg/510970/external-link */
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      mask-size: cover;
      margin-top: 0.1em;
    }
  }

  button,
  [type='submit'],
  .button,
  .button.read_on {
    background-color: var(--button-background);
    color: var(--button-color);
    transition: 0.15s;
    cursor: pointer;
    border: none;
    padding: 3px 10px;

    &:is(:hover, :focus) {
      background-color: var(--button-background-hover);
    }
  }

  table {
    border-collapse: collapse;
    margin-bottom: 1rem;
  }

  :is(th, td) {
    font-weight: normal;
    padding: 0.3rem 0.6rem;
    border: 1px solid var(--gray-accent);
  }

  article {
    & :is(h1, h2, h3, h4, h5, h6) {
      margin-block-start: 1.4em;
      margin-block-end: 0.6rem;
    }

    & h2 {
      font-size: 1.5rem;
    }

    & h3 {
      font-size: 1.2rem;
    }

    & :is(p, article blockquote, ul, ol):not(:last-child) {
      margin-block-end: 1em;
    }

    & :is(ul, ol) {
      list-style: disc;
      margin-inline-start: 0;
      padding-inline-start: 1.2rem;
    }

    & ol {
      list-style: decimal;
    }

    & li:not(:last-child) {
      margin-block-end: 0.5rem;
    }

    & > sub {
      margin-block-end: 1rem;
    }
  }

  .posts_list {
    & .section_heading::after {
      display: none !important;
    }

    & .section_heading {
      pointer-events: none;
    }
  }

  .post_header {
    position: relative;
    display: flex;
    padding-top: 36px;
    margin-block-end: 28px;
  }

  .post_title {
    font-size: 40px;
    font-weight: bold;
    text-wrap: pretty;
  }

  nav.toc {
    margin-block-end: 2rem;

    &::before {
      content: 'Table of contents';
      display: block;
      font-size: 1.1rem;
      margin-block-end: 0.5rem;
    }
  }

  article:has(> img:first-child) > nav.toc {
    margin-block-start: 2em;
  }

  .section_heading.section_heading.section_heading {
    color: var(--text-color);

    &::after {
      content: light-dark(
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='18' aria-hidden='true'%3E%3Cpath fill='%23000' d='m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z'%3E%3C/path%3E%3C/svg%3E"),
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='18' aria-hidden='true'%3E%3Cpath fill='%23ffffff' d='m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z'%3E%3C/path%3E%3C/svg%3E")
      );
      width: 18px;
      display: inline-block;
      margin-inline-start: 8px;
    }
  }

  h2:has(a + a) {
    display: flex;
    gap: 0.5rem;

    .section_heading {
      order: 1;
      margin-left: -6px;
    }
  }

  .content_aside {
    font-size: 13px;
    line-height: 1.65;
    padding: 1rem 0.8rem;
    background-color: light-dark(#ebebeb, #434343);
    border: 1px dashed light-dark(#141414, var(--text-color));
  }
  .content_aside:not(:last-child) {
    margin-block-end: 1rem;
  }

  .content_aside--ad.content_aside--ad {
    container: ad / inline-size;
    background-color: var(--text-color);
    color: light-dark(var(--background-color), var(--text-color));
    border: none;
    font-size: 1rem;
    padding: 6cqi 2cqi 4.5cqi;
    text-align: center;
    text-wrap: balance;

    & > * {
      font-size: 4cqi;
    }

    & a {
      color: var(--link-color);
    }

    & .big {
      font-size: 8cqi;
    }
  }

  .content_aside :is(h1, h2, h3, h4, h5, h6) {
    margin-block-start: 0;
  }

  img {
    border-color: light-dark(inherit, var(--text-color));
  }

  figure {
    margin-block-end: 1em;

    & img {
      margin-block-end: 0;
    }
  }

  code {
    display: inline-block;
    background-color: var(--background-color);
    font-size: 0.8em;
    line-height: 1.5em;
    color: inherit;
    border-radius: 0.4em;
    border: 1px solid #ddd;
    padding: 0 0.3em;
  }

  pre {
    overflow: auto;
    padding: 0.4em 0.7em;
    border: 1px solid #ddd;
    margin-block-end: 0.5em;

    & code {
      padding: 0;
      border: 0;
    }
  }

  sub {
    line-height: 1.7;
    display: inline-block;
  }

  blockquote {
    font-style: italic;
    background-image: linear-gradient(
      to right,
      currentColor 10px,
      light-dark(#ebebeb, #434343) 10px
    );
    padding: 1rem 0.8rem 1rem 1.4rem;
  }

  /* Code highlighting */
  /**
  * okaidia theme for JavaScript, CSS and HTML
  * Loosely based on Monokai textmate theme by http://www.monokai.nl/
  * @author ocodia
  */

  code[class*='language-'],
  pre[class*='language-'] {
    color: #f8f8f2;
    background: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 0.87em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  /* Code blocks */
  pre[class*='language-'] {
    padding: 1em;
    margin: 1rem 0;
    overflow: auto;
    border-radius: 0.3em;
  }

  :not(pre) > code[class*='language-'],
  pre[class*='language-'] {
    background: #272822;
  }

  /* Inline code */
  :not(pre) > code[class*='language-'] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #8292a2;
  }

  .token.punctuation {
    color: #f8f8f2;
  }

  .token.namespace {
    opacity: 0.7;
  }

  .token.property,
  .token.tag,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: #f92672;
  }

  .token.boolean,
  .token.number {
    color: #ae81ff;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: #a6e22e;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string,
  .token.variable {
    color: #f8f8f2;
  }

  .token.atrule,
  .token.attr-value,
  .token.function,
  .token.class-name {
    color: #e6db74;
  }

  .token.keyword {
    color: #66d9ef;
  }

  .token.regex,
  .token.important {
    color: #fd971f;
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }
  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }
}
